button,
.btn {
  outline: none !important;
}
.btn-primary,
a.btn-primary,
a:visited.btn-primary a:link.btn-primary {
  background-color: #cc5300;
  border: 1px solid #cc5300;
  color: rgba(255, 255, 255, 0.9);
}
.btn-primary:hover,
a.btn-primary:hover,
a:visited.btn-primary a:link.btn-primary:hover {
  background-color: #cc5300 !important;
  border: 1px solid #cc5300 !important;
  box-shadow: 0 3px 6px rgba(255, 104, 0, 0.3) !important;
  color: #fff;
}
.btn-primary:focus,
a.btn-primary:focus,
a:visited.btn-primary a:link.btn-primary:focus {
  background-color: #cc5300;
  border: 1px solid #cc5300;
  color: #fff !important;
  box-shadow: none !important;
}
.btn-primary:active,
a.btn-primary:active,
a:visited.btn-primary a:link.btn-primary:active {
  background-color: #cc5300 !important;
  border: 1px solid #cc5300 !important;
  color: #fff !important;
  box-shadow: none !important;
}
.btn-info,
a:link.btn-info {
  color: rgba(255, 255, 255, 0.85) !important;
}
.btn-info.btn-outline,
a:link.btn-info.btn-outline {
  color: #399af2 !important;
}
.btn.btn-sm,
a:link.btn.btn-sm {
  padding: 0.5rem 0.75rem;
  height: auto;
}
.btn-icon-only {
  width: 30px !important;
  height: 25px !important;
  text-align: center !important;
  padding: 0px !important;
}
.btn-icon-only i {
  margin: 0 !important;
  padding: 0;
}
.btn-secondary:hover i,
.btn-secondary:focus i {
  color: #fff;
}
.dropdown-toggle.btn-secondary.btn-primary {
  background-color: #fff;
  border: 1px solid #d8e3ef;
  color: #788db4 !important;
}
.dropdown-toggle.btn-secondary.btn-primary:hover,
a:link.dropdown-toggle.btn-secondary.btn-primary:hover {
  background-color: #6e85af !important;
  border: 1px solid #6e85af !important;
  box-shadow: 0 5px 10px rgba(120, 141, 180, 0.4) !important;
  color: #fff !important;
}
.dropdown-toggle.btn-secondary.btn-primary:not(:disabled):not(.disabled).active,
.dropdown-toggle.btn-secondary.btn-primary:not(:disabled):not(.disabled):active,
.show > .dropdown-toggle.btn-secondary.btn-primary {
  background-color: #fff !important;
  border: 1px solid #d8e3ef !important;
  color: #788db4 !important;
}
.dropdown-toggle.btn-secondary.btn-primary:focus i {
  color: #788db4;
}
.dropdown-toggle.btn-secondary.btn-primary::after {
  display: none;
}
.dropdown-toggle.btn-secondary.btn-primary i {
  margin-left: 0px;
}
.dropdown .fa-sliders {
  margin-top: -5px;
}
.btn-primary2 {
  background-color: #6e85af !important;
  border-color: #6e85af;
  color: #fff;
}
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: none;
}

.button-with-textbox,
.page-header .btn,
.page-header a:link.btn,
.removebtn {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 35px;
}
.btn-secondary.add-money-btn:focus {
  background-color: #fff;
  border: 1px solid #d8e3ef;
  color: #788db4 !important;
}
.btn-secondary.add-money-btn:hover,
.btn-secondary.add-money-btn:hover i {
  color: #fff !important;
}
.btn-secondary.add-money-btn:focus i {
  color: #788db4 !important;
}
.btn-secondary.add-money-btn:not(:disabled):not(.disabled).active:focus,
.btn-secondary.add-money-btn:not(:disabled):not(.disabled):active:focus {
  color: #fff !important;
}
.btn-secondary.add-money-btn:not(:disabled):not(.disabled):active:focus i {
  color: #fff !important;
}
.btn-secondary.add-money-btn:active,
a:link.btn-secondary.add-money-btn:active,
.btn-secondary.add-money-btn:active i,
a:link.btn-secondary.add-money-btn:active i {
  color: #fff !important;
}
