.sidebar {
    position: "fixed";
    width: "100%";
    top: 0;
    left: 0;
    background-color: "#f8f8f8";
    border-right: "1px solid #e6e6e6"
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(25, 25, 25, 0.5);
  }